*{
  margin-left: 0;
  margin-right: 0;
  box-sizing: border-box;
}

nav{
  height: 125px;
  background-color: white;
  color: black;
  padding-left: 35px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  
}

nav h1{
  display: inline;
  color: black;
  margin: 0;
  position: absolute;
  top: 30%;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: bold;

}

nav img{
  height: 85px;
  width: 85px;
}

main{
  background-color: #F6F8F9;
  height: 1130px;
  padding-top: 70px;
  
}

.container{
  height: 1030px;
  width: 77%;
  margin: auto;  
  background-color: white;
  
  border-radius: 15px;
}

.buttons{
  margin-left: 90px;
}


.new-task{
  margin-left: 90px;  
}

.title{
  position: relative;

}

.contenuto{
  position: relative;
}

.title h2{
  display: inline;
  margin: 0 0 0 10px;
  top: 5%;
  position: absolute;
  
}

span{
  position: absolute;
  top: 20%;
  margin-left: 10px;
}

hr{
  height: 2px;
  background-color: #F6F8F9;
  border: none;  
}

img{
  height: 30px;
  padding-top: 5px;  
}

